script(src="js/jquery.min.js")
script(src="js/bootstrap.js")
script(src="js/bootstrap-modal.js")
script(src="js/bootstrap-tabs.js")
link(href="css/bootstrap.min.css", rel="stylesheet")
link(href="css/bootstrap-responsive.min.css", rel="stylesheet")
meta(name="viewport",content="width=device-witch initial-scale=1.0")
