br
p btcdev is a simple bug tracker with support for bitcoin.
p Each bug is associated to a bitcoin address, people interested on getting a bug fixed can transfer money to it. Once the bug is closed, the developer who posted the fix gets the reward.
p A fee is applied on each transfer in order to contribute to the project and get the money re-invested on other bugs to get fixed.
p This development model allow parties interested on having a bug fixed or a feature enhacement done can put money to a bucker which is payed to the first guy who provides the solution.
p The bugtracker administrator is the responsible to close the bugs and accept the bitcoin transfer. For security reasons, the wallet is not stored on this server.
p The bitcoin address associated to this project is:
p(style="margin-left:30px")
	a(href="https://blockexplorer.com/address/#{bitcoin.address}") #{bitcoin.address}
p Contact the author:
p(style="margin-left:30px")
	a(href="mailto:pancake@nopcode.org") pancake@nopcode.org
	br
	a(href="http://twitter.com/trufae") @trufae
